* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 125px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

i {
    position: relative;
    left: 32px;
    color: #4E5150;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.inner-container {
    display: flex;
    gap: 30px;
}

input {
    width: 65%;
    padding-left: 8%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 7px;
}

.img-container-1 {
    display: flex;
    gap: 30px;
}

.img-container-2 {
    display: flex;
    gap: 30px;
}

p.items {
    border: 1px solid grey;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    width: 107px;

}

#checkbox {
    width: 61px;
    height: 21px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    width: 210px;
    height: 45px;
    border-radius: 12px;
    padding-left: 15%;
    margin-top: 10px;
    color: #4E5150;
}

#postal-code {
    width: 210px;
    height: 45px;
    padding: 8%;
}



.header {
    padding: 10px;
    position: relative;
    right: 25.9em;
    color: #4E5150;
}

.contact-info h2 {
    padding: 20px;
    color: #333333;
}

label {
    padding: 20px;
    color: #4E5150;
}

.shipping-address h2 {
    padding: 10px;
    color: #333333;
}

label.checkbox {
    position: relative;
    right: 2.5em;
    bottom: 5.2px;
}


.button input {
    padding: 13px 42px;
    width: 166px;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 320px;
    background: #F2994A;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}



.right-container {
    padding: 37px 41px 37px 41px;

    height: 535px;
    position: relative;
    top: 30px;
    background: #F2F2F2;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

img {
    width: 150px;
    height: 135.91px;
    border-radius: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p.price {
    padding-bottom: 18px;
    color: #F2994A;
}

div.items button {
    width: 25px;
    height: 25px;
    text-align: center;
    background: #E0E0E0;
    border: none;
    font-size: 20px;
}

.increment {
    position: relative;
    bottom: 34px;
    left: 75px;
}


.decrement {
    position: relative;
    bottom: 34px;
    right: 20px;
}

hr.first-line {
    position: relative;
    top: 10px;
}

p.shipping {
    position: relative;
    bottom: 20px;
}

p.total {
    position: relative;
    bottom: 47px;
}

hr.second-line {
    position: relative;
    bottom: 17px;
}

p.bag {
    font-weight: bold;
}

del {
    position: relative;
    left: 10px;
    color: #4E5150;
    ;
}

span {
    float: right;
}

.footer {

    font-size: 14px;
    width: 377px;
    height: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    position: relative;
    left: 550px;

}


@media only screen and (max-width: 420px) {

    .container {
        flex-direction: column-reverse;
        align-items: center;

    }

    .header {
        right: 6.99em;
    }

    .right-container {
        width: 365px;
        height: 489px;
        gap: 30px;
    }

    .img-container-1 {
        height: 140px;
        width: 305px;
    }

    .img-container-2 {
        height: 140px;
        width: 305px;
    }

    hr.first-line {
        top: 1px;
    }

    hr.second-line {
        bottom: 28px;
    }

    .left-container {
        width: 405px;
    }

    select {
        width: 163px;
    }

    .inner-container {
        gap: 6px;
    }

    #postal-code {
        width: 180px;
    }

    .button input {
        left: 203px;
    }

    .footer {
        left: 100px;
    }
}